/****************************************************
*
* Category Menu
* Use $imagePath/ to link to images located in the images/ folder
*
****************************************************/

#rw_category_menu {
  height: 50px;
  position: relative;
  overflow: hidden;
}

#rw_category_menu ul.rw_category_items {
  list-style: none;
  padding: 0 10px;
  height: 50px;
}

#rw_category_menu ul.rw_category_items li {
  float: left;
  display: inline-block;
}

#rw_category_menu ul.rw_category_items li a {
  padding: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  float: left;
}

#rw_category_menu ul.rw_category_items li a:hover {
  background: rgba(0, 0, 0, 0.15);
}

#rw_category_menu ul.rw_category_items li a > * {
  float: left;
  height: 20px;
}

#rw_category_menu ul.rw_category_items li a .rw_item_logo {
  margin-right: 10px;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

#rw_category_menu ul.rw_category_items li a .rw_item_logo .rw_icon {
  opacity: 0.7;
}

#rw_category_menu ul.rw_category_items li a .rw_item_logo img {
  max-height: 20px;
  max-width: 20px;
}

#rw_category_menu ul.rw_category_items li a .rw_item_dd {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: -5px;
  border-radius: 10px;
}

#rw_category_menu ul.rw_category_items li a .rw_item_dd:before {
  content: " ";
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-radius: 10px;
  position: absolute;
  opacity: 0;
}

#rw_category_menu ul.rw_category_items li a .rw_item_dd:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  margin: 0;
  top: 8px;
  right: 5px;
  opacity: 0.7;
}

#rw_category_menu ul.rw_category_items li a .rw_item_icon {
  margin-left: 5px;
}

#rw_category_menu ul.rw_category_items li a .rw_item_icon:before {
  opacity: 0.7;
}

#rw_category_menu ul.rw_category_items li a:hover .rw_item_dd:before {
  background-color: rgba(255,255,255,0.15);
  opacity: 1;
}

#rw_category_menu ul.rw_category_items li a:hover .rw_item_dd:after {
  opacity: 1;
}

#rw_category_menu ul.rw_category_items li a:hover .rw_item_dd:hover:before {
  background-color: rgba(255,255,255,0.3);
}

#rw_category_menu ul.rw_category_items li.rw_active a {
  background: rgba(255, 255, 255, 0.2);
}

#rw_category_menu ul.rw_category_items li.rw_active a .rw_item_dd:after {
  border-color: #fff transparent transparent transparent;
}

#rw_category_menu ul.rw_category_items li ~ li {
  margin-left: 5px;
}
