/****************************************************
*
* Content Section
* Use $imagePath/ to link to images located in the images/ folder
*
****************************************************/

#demo_theme_content {
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}
