/****************************************************
*
* Header
* Use $imagePath/ to link to images located in the images/ folder
*
****************************************************/
#demo_theme_header {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}
#demo_theme_header .rw_row_1 {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 50px;
}

#demo_theme_header .rw_row_1 > * {
  display: table-cell;
  vertical-align: top;
}

#demo_theme_header .rw_row_1 #rw_app_switcher {
  display: block;
  position: absolute;
}

#demo_theme_header .rw_row_1 #rw_app_switcher .app-switcher-trigger {
  padding-right: 10px !important;
}

#demo_theme_header .rw_row_1 #rw_app_switcher .app-switcher-trigger.aui-dropdown2-trigger,
#demo_theme_header .rw_row_1 #rw_app_switcher .app-switcher-trigger.sidebar-trigger {
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 24px;
  width: 16px;
}

#demo_theme_header .rw_row_1 .rw_header_left {
  padding: 0 20px 0 10px;
  line-height: 0px;
  width: 25px;
}

#demo_theme_header .rw_row_1 .rw_header_left.rw_has_logo {
  width: 120px;
}

#demo_theme_header .rw_row_1 .rw_header_left.rw_has_logo.rw_has_app_switcher {
  width: 160px;
}

#demo_theme_header .rw_row_1 .rw_header_left #rw_logo_container a {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 120px;
  text-align: center;
}

#demo_theme_header .rw_row_1 .rw_header_left #rw_logo_container a img {
  max-height: 40px;
  max-width: 120px;
}

#demo_theme_header .rw_row_1 .rw_header_left #rw_logo_container.rw_has_app_switcher {
  padding-left: 40px;
}

#demo_theme_header .rw_row_1 .rw_header_center {
  width: 100%;
}

#demo_theme_header .rw_row_1 #rw_category_menu {
  width: 100%;
}

#demo_theme_header .rw_row_1 .rw_header_right {
  width: 220px;
}

#demo_theme_header .rw_row_1 .rw_header_right.rw_has_menu {
  width: 410px;
}

#demo_theme_header .rw_row_1 .rw_header_right.rw_has_menu #rw_search_query {
  width: 115px;
}

#demo_theme_header .rw_row_1 .rw_header_right #rw_search_container {
  padding-top: 10px;
  padding-right: 10px;
}
